/* Estilos para el componente de autocompletado de ciudades */
.city-autocomplete {
  position: relative;
  width: 100%;
}

/* Estilo actualizado para el desplegable de sugerencias en CityAutocomplete */

.select-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.select-container input {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.select-container input:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 5px var(--color-primary);
}

.select-container__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  margin-top: -5px;
}

.select-container__options__option {
  padding: 10px;
  font-size: 0.8rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.select-container__options__option:hover {
  background-color: #f0f0f0;
}

.select-container__no-results {
  padding: 10px;
  font-size: 14px;
  color: #999;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.noResults input {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

/* Estilo para el spinner de carga */
.select-container .loading-spinner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
