/* Tarjeta de perfil */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mejora del diseño de las tarjetas de perfil con responsividad mejorada */
.match-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 580px;
  width: 100%;
  max-width: 550px;
  position: relative;
  overflow: hidden; /* Evitar contenido fuera de la tarjeta */
  background: linear-gradient(135deg, #f9f9f9, #ffffff);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 590px;
  max-height: 600px;
  margin-top: 3.6rem;
  min-width: auto;
  opacity: 1;
  animation: fadeInUp 0.5s ease forwards;
  overflow-y: auto; /* Ensure content is scrollable if it exceeds the height */
  font-family: "Poppins", sans-serif;
}

/* Aumentar el tamaño de la tarjeta al pasar el cursor */
.match-card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la imagen de perfil - tamaño ajustado */
.match-card__avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
  border: 4px solid var(--color-primary);
  box-shadow: 0 4px 10px rgba(101, 81, 62, 0.2);
  position: fixed;
  margin-bottom: 18rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.match-card__avatar:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(101, 81, 62, 0.3);
}

.match-card__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nombre del perfil */
.match-card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-dark);
  position: fixed;
  margin-top: 40px;
}

/* Información del perfil */
.match-card p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  position: fixed;
  color: var(--color-text-light);
  margin-top: 90px;
}

/* Ajustar presentación para evitar desplazamientos */
.match-card__presentation {
  font-family: "Poppins", sans-serif;
  max-width: 80%;
  margin: 2rem auto;
  line-height: 1px;
  font-style: italic;
  font-size: 1rem;
  color: var(--color-text);
  background-color: var(--color-light);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  visibility: hidden; /* Ocultar sin ocupar espacio */
  opacity: 0;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  transition: visibility 0s, opacity 0.5s ease;
}

.match-card__presentation.visible {
  visibility: visible; /* Mostrar contenido */
  opacity: 1;
}

/* Ajustar intereses para evitar desplazamientos */
.match-card__interests {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 6rem 0 1rem 0;
  visibility: hidden; /* Ocultar sin ocupar espacio */
  opacity: 0;
  max-height: 200px; /* Limit the height of the interests section */
  overflow-y: auto; /* Allow scrolling for long content */
  transition: visibility 0s, opacity 0.5s ease; /* Transición suave */
}

.match-card__interests.visible {
  visibility: visible;
  opacity: 1;
}

.match-card__interests h4 {
  font-size: 0.9rem;
  color: var(--color-dark);
  margin-bottom: 0.1rem;
  position: relative;
  display: inline-block;
}

.match-card__interests h4::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  border-radius: 2px;
}

/* Contenedor de tags */
.match-card__tags {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  padding: 1rem 1rem;
  justify-content: center;
}

/* Ajuste para reducir el tamaño y espaciamiento de los tags de intereses */
.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 6px 0;
}

/* Estilo individual para cada tag de interés */
.match-card__tag {
  font-family: "Poppins", sans-serif;
  background: var(--color-primary);
  color: white;
  border-radius: 50px;
  padding: 3px 10px;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.match-card__tag:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.match-card__full-presentation {
  width: 90%;
  min-height: 160px;
  margin-top: 0.5rem;
  padding: 0.6rem;
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.match-card__full-presentation h4 {
  font-size: 0.85rem;
  color: var(--color-dark);
  margin-bottom: 0rem;
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin-top: 0rem;
}

.match-card__full-presentation p {
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  padding: 0 2.2rem 0 0.2rem;
  color: #666;
  white-space: pre-line;
}

/* Botón para cambiar de vista */
.match-card__view-button {
  font-family: "Poppins", sans-serif;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 180px;
  font-weight: 580;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.match-card__view-button:hover {
  background-color: var(--color-accent-dark);
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.match-card__view-button.return {
  margin-bottom: -140px;
  background-color: var(--color-dark);
}

.match-card__view-button.return:hover {
  background-color: var(--color-accent);
}

/* Contenedor de botones */
.match-card__actions {
  gap: 4rem;
  display: flex;
  margin-top: 20rem;
  padding-top: 1rem;
  position: fixed;
}

/* Botones */
.match-card__actions button {
  font-family: "Poppins", sans-serif;
  padding: 0.4rem 1.2rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: -40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.match-card__actions button:first-child {
  background-color: #478f65;
  color: white;
}

.match-card__actions button:first-child:hover {
  background-color: #316d4a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.match-card__actions button:last-child {
  background-color: #cb3120ea;
  color: white;
}

.match-card__actions button:last-child:hover {
  background-color: #a83227;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.match-card__view-more {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

/* Estilos para la vista detallada */
.match-card__details-view {
  position: absolute;
  top: -5rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.match-card__feedback {
  position: static;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 90%;
  text-align: center;
  font-weight: bold;
  z-index: 2;
}

/* Lista de tarjetas */
.match-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--container-padding);
}

/* Contenedor para "No hay más perfiles" */
.no-more-profiles {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-light);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-more-profiles h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.no-more-profiles p {
  font-size: 1rem;
  color: var(--color-text-light);
  text-align: center;
}

/* Estilos para el carrusel de tarjetas */
.match-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  margin-top: 2rem;
  width: 100%;
  position: relative;
}

/* Ajuste de los botones del carrusel para mejor visualización */
.carousel-button {
  padding: 6px 18px;
  background-color: rgb(220, 196, 177);
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 7.5px;
  position: absolute;
  top: 55%;
  transform: translateY(-50.8%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-button.prev {
  left: 20px;
}

.carousel-button.next {
  right: 20px;
}

.carousel-button:hover {
  background-color: rgba(197, 178, 164, 0.908);
  transform: translateY(-50.8%) scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Estilos para la tarjeta mini */
.match-mini-card {
  background: linear-gradient(
    135deg,
    #ffffff,
    #fcfcfc
  ); /* MatchCard background */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 1.5rem;
}

/* Estilos para las nuevas secciones */
.match-card__special-conditions,
.match-card__child-stages {
  margin-bottom: 1px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
}

.match-card__special-conditions.visible,
.match-card__child-stages.visible {
  opacity: 1;

  transform: translateY(0);
}

.match-card__special-conditions h4,
.match-card__child-stages h4 {
  font-size: 0.9rem;
  margin-bottom: -5px;
  color: var(--color-dark);
}

.match-card__child-stages .match-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 3px;
}

.stage-tag {
  background-color: var(--color-primary);
  position: relative;
  top: -0.5rem;
  left: auto;
  font-size: 0.8rem;
  margin-top: 0.1rem;
  color: white;
  padding: 4px 8px;
}

.empty-content {
  color: var(--color-text-light);
  font-size: 0.7rem !important;
  position: relative !important;
  margin-top: 0.3rem !important;
}
