.filter-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 12px 0;
}

.filter-group {
  margin-bottom: 20px;
}

/* Estilos mejorados para etapas de edad de hijos */
.child-stages-filter {
  display: flex;
  border-color: var(--color-accent);
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.filter-tag {
  border-radius: 20px;
  background-color: var(--color-accent-light);
  border-color: var(--color-accent);
  border-width: 1px;
  padding: 6px 12px;
  font-size: 0.8rem;
  font-family: poppins, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--color-text);
  flex-grow: 1;
  text-align: center;
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-tag.selected {
  background-color: var(--color-primary);
  color: white;
  box-shadow: 0 0 0 2px var(--color-primary);
}

.filter-tag:hover {
  background-color: var(--color-primary-dark);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
