/* Paleta de colores */
:root {
  --primary-color: #f5f0eb;
  --secondary-color: #d2b061;
  --background-color: #f5f5f5;
  --text-color: #333;
  --light-text-color: #666;
  --border-color: #ddd;
}

/* Estilo general */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(120deg, #224837, #44896c, #ff6f61);
  background-size: 200% 200%;
  animation: gradient-move 10s ease infinite;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-bottom: 5px solid var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: var(--primary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Botones */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

/* Formularios */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  font-size: 16px;
  background-color: white; /* Asegura un fondo blanco consistente */
}

/* Estilos globales para mejorar la apariencia del autocompletado */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Cambia el fondo del autocompletado a blanco */
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* Asegura que el texto sea del color correcto */
  -webkit-text-fill-color: var(--text-color) !important;
  /* Evita la transición amarilla en Chrome */
  transition: background-color 5000s ease-in-out 0s;
}

/* Estilos para mejorar la apariencia del autocompletado en .register */
.register input:-webkit-autofill,
.register input:-webkit-autofill:hover,
.register input:-webkit-autofill:focus,
.register input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Mejora la apariencia de los indicadores del selector en Chrome */
input::-webkit-calendar-picker-indicator {
  filter: invert(0.5); /* Hace el icono más sutil y acorde al diseño */
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo para autocompletado personalizado */
.autocomplete-items {
  position: absolute;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-items div {
  padding: 10px 15px;
  cursor: pointer;
  color: var(--color-accent);
  transition: all 0.2s ease;
  position: relative;
  border-bottom: 1px solid rgba(255, 111, 97, 0.1);
}

.autocomplete-items div:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}

.autocomplete-items div:hover {
  background-color: #fffaf9;
}

.autocomplete-active {
  background-color: #fffaf9 !important;
}

/* Estilo para el contenedor del input con autocompletado */
.autocomplete-container {
  position: relative;
  width: 100%;
}
